# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [8]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [10]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_Database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ushuaia,AR,-54.8000,-68.3000,38.86,87,100,18.41,light rain
1,1,Umtata,ZA,-31.5889,28.7844,55.96,100,100,2.30,mist
2,2,Kadirli,TR,37.3739,36.0961,68.68,75,0,3.58,clear sky
3,3,Mataura,NZ,-46.1927,168.8643,47.48,83,77,8.95,broken clouds
4,4,Fortuna,US,40.5982,-124.1573,58.35,85,72,4.47,broken clouds
5,5,Kapaa,US,22.0752,-159.3190,79.12,72,100,10.36,overcast clouds
6,6,Cayenne,GF,4.9333,-52.3333,75.24,94,20,1.14,few clouds
7,7,Rikitea,PF,-23.1203,-134.9692,69.58,63,64,20.76,broken clouds
8,8,Dali,CN,25.7000,100.1833,70.68,64,66,5.48,broken clouds
9,9,Vaini,TO,-21.2000,-175.2000,76.51,83,100,6.46,light rain

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [11]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 95

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [12]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Kapaa,US,22.0752,-159.3190,79.12,72,100,10.36,overcast clouds
6,6,Cayenne,GF,4.9333,-52.3333,75.24,94,20,1.14,few clouds
8,8,Dali,CN,25.7000,100.1833,70.68,64,66,5.48,broken clouds
9,9,Vaini,TO,-21.2000,-175.2000,76.51,83,100,6.46,light rain
11,11,Hilo,US,19.7297,-155.0900,82.27,86,100,4.61,heavy intensity rain
13,13,Port Blair,IN,11.6667,92.7500,82.22,76,99,10.31,overcast clouds
15,15,Trairi,BR,-3.2778,-39.2689,78.19,80,45,12.33,scattered clouds
33,33,Lamu,KE,-2.2717,40.9020,75.42,83,21,12.73,few clouds
34,34,Cabo San Lucas,MX,22.8909,-109.9124,82.51,64,59,3.00,broken clouds
35,35,Acapulco,MX,16.8634,-99.8901,78.64,83,87,4.52,overcast clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [22]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities_df = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Kapaa,US,22.0752,-159.3190,79.12,72,100,10.36,overcast clouds
6,6,Cayenne,GF,4.9333,-52.3333,75.24,94,20,1.14,few clouds
8,8,Dali,CN,25.7000,100.1833,70.68,64,66,5.48,broken clouds
9,9,Vaini,TO,-21.2000,-175.2000,76.51,83,100,6.46,light rain
11,11,Hilo,US,19.7297,-155.0900,82.27,86,100,4.61,heavy intensity rain
13,13,Port Blair,IN,11.6667,92.7500,82.22,76,99,10.31,overcast clouds
15,15,Trairi,BR,-3.2778,-39.2689,78.19,80,45,12.33,scattered clouds
33,33,Lamu,KE,-2.2717,40.9020,75.42,83,21,12.73,few clouds
34,34,Cabo San Lucas,MX,22.8909,-109.9124,82.51,64,59,3.00,broken clouds
35,35,Acapulco,MX,16.8634,-99.8901,78.64,83,87,4.52,overcast clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [26]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

              City Country  Max Temp   Current Description      Lat       Lng
5            Kapaa      US     79.12       overcast clouds  22.0752 -159.3190
6          Cayenne      GF     75.24            few clouds   4.9333  -52.3333
8             Dali      CN     70.68         broken clouds  25.7000  100.1833
9            Vaini      TO     76.51            light rain -21.2000 -175.2000
11            Hilo      US     82.27  heavy intensity rain  19.7297 -155.0900
13      Port Blair      IN     82.22       overcast clouds  11.6667   92.7500
15          Trairi      BR     78.19      scattered clouds  -3.2778  -39.2689
33            Lamu      KE     75.42            few clouds  -2.2717   40.9020
34  Cabo San Lucas      MX     82.51         broken clouds  22.8909 -109.9124
35        Acapulco      MX     78.64       overcast clouds  16.8634  -99.8901

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [29]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df.insert(6, "Hotel Name", True)

# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Kapaa,US,79.12,overcast clouds,22.0752,-159.3190,True
6,Cayenne,GF,75.24,few clouds,4.9333,-52.3333,True
8,Dali,CN,70.68,broken clouds,25.7000,100.1833,True
9,Vaini,TO,76.51,light rain,-21.2000,-175.2000,True
11,Hilo,US,82.27,heavy intensity rain,19.7297,-155.0900,True

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [30]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [32]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [33]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Kapaa,US,79.12,overcast clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
6,Cayenne,GF,75.24,few clouds,4.9333,-52.3333,Hôtel Le Dronmi
8,Dali,CN,70.68,broken clouds,25.7000,100.1833,Dali Travelling With Hostel
9,Vaini,TO,76.51,light rain,-21.2000,-175.2000,Keleti Beach Resort
11,Hilo,US,82.27,heavy intensity rain,19.7297,-155.0900,Hilo Hawaiian Hotel
13,Port Blair,IN,82.22,overcast clouds,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
15,Trairi,BR,78.19,scattered clouds,-3.2778,-39.2689,janelas do mar
33,Lamu,KE,75.42,few clouds,-2.2717,40.9020,Lamu House
34,Cabo San Lucas,MX,82.51,broken clouds,22.8909,-109.9124,Hotel Tesoro Los Cabos
35,Acapulco,MX,78.64,overcast clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [34]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Kapaa,US,79.12,overcast clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
6,Cayenne,GF,75.24,few clouds,4.9333,-52.3333,Hôtel Le Dronmi
8,Dali,CN,70.68,broken clouds,25.7000,100.1833,Dali Travelling With Hostel
9,Vaini,TO,76.51,light rain,-21.2000,-175.2000,Keleti Beach Resort
11,Hilo,US,82.27,heavy intensity rain,19.7297,-155.0900,Hilo Hawaiian Hotel
13,Port Blair,IN,82.22,overcast clouds,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
15,Trairi,BR,78.19,scattered clouds,-3.2778,-39.2689,janelas do mar
33,Lamu,KE,75.42,few clouds,-2.2717,40.9020,Lamu House
34,Cabo San Lucas,MX,82.51,broken clouds,22.8909,-109.9124,Hotel Tesoro Los Cabos
35,Acapulco,MX,78.64,overcast clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [35]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file)

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [36]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [37]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 79.12 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hôtel Le Dronmi</dd>\n<dt>City</dt><dd>Cayenne</dd>\n<dt>Country</dt><dd>GF</dd>\n<dt>Current Weather</dt><dd>few clouds and 75.24 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Dali Travelling With Hostel</dd>\n<dt>City</dt><dd>Dali</dd>\n<dt>Country</dt><dd>CN</dd>\n<dt>Current Weather</dt><dd>broken clouds and 70.68 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Keleti Beach Resort</dd>\n<dt>City</dt><dd>Vaini</dd>\n<dt>Country</dt><dd>TO</dd>\n<dt>Current Weather</dt><dd>light rain and 76.51 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hilo Hawaiian Hotel</dd>\n<dt>City</dt><dd>Hilo</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>heavy intensity rain and 82.27 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Welcomhotel By ITC Hotels, Bay Island, Port Blair</dd>\n<dt>City</dt><dd>Port Blair</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 82.22 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>janelas do mar</dd>\n<dt>City</dt><dd>Trairi</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 78.19 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Lamu House</dd>\n<dt>City</dt><dd>Lamu</dd>\n<dt>Country</dt><dd>KE</dd>\n<dt>Current Weather</dt><dd>few clouds and 75.42 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Tesoro Los Cabos</dd>\n<dt>City</dt><dd>Cabo San Lucas</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Current Weather</dt><dd>broken clouds and 82.51 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>HS Hotsson Smart Acapulco</dd>\n<dt>City</dt><dd>Acapulco</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 78.64 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [38]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
5   22.0752 -159.3190
6    4.9333  -52.3333
8   25.7000  100.1833
9  -21.2000 -175.2000
11  19.7297 -155.0900
13  11.6667   92.7500
15  -3.2778  -39.2689
33  -2.2717   40.9020
34  22.8909 -109.9124
35  16.8634  -99.8901

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [40]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))